html,body{
    height:100%;
}
p{margin:0;}
ul{list-style: none;margin:0;padding: 0}
body{
    margin: 0;
    font-family: Microsoft Yahei;
    font-size: 14px;
    color:#000;
}
.f-l{float:left;}
.f-r{float:right;}
.t-c{text-align: center;}
.t-l{text-align: left;}
.r-t{text-align: right;}
.col-r{color:red;}
.col-w{color:white;}
.col-b{color:block;}
.col-g{color:#3e343f;}
.col-b{color:#28bbd0;}
.col-y{color:#ff6e00;}
.col-gn{color:green;}
.dp-n{display: none;}
.line-w{height:1px;background-color:#555;}
.cu-p{cursor: pointer;}
.fz-12{font-size:12px;}

.fz-f{
    font-family: sans-serif;
}

.hv-bg-g:hover{
    background-color:#CCC;
}
.hv-bg-g.focus{
    background-color:#CCC;
}
/**
 * layout
 */
.container {
    width:100%;
    height:100%;
    display: -webkit-box;
    display: -moz-box;
    -webkit-box-orient: vertical ;
    -moz-box-orient:vertical;
}
header{
    height:40px;
    background-color:#45c8db;
    color:#FFF;
}
section {
    background-color:#CCF;
    -webkit-box-flex: 1;
    -moz-box-flex:1;
    display: -webkit-box;
    display:-moz-box;
    -webkit-box-orient: horizontal;
    -moz-box-orient:horizontal;
}
#nav{
    width:200px;
    background-color:#252c32;
}
#content{
    -webkit-box-flex: 1;
    -moz-box-flex:1;
    background-color:#FFF;
}
#info{
    width:350px;
    background-color:#EEE;
}


/**
 * ui
 */
.header-logo{
    height:40px;
    width:200px;
    background-color:#3eb5c6;
}
.header-btn{
    text-align: center;
    width:150px;
    height: 40px;
    line-height: 40px;
    font-size: 25px;
}
    .header-btn:hover{
        background-color:#3eb5c6;
    }


.nav-list{
    text-align: left;
    line-height: 35px;
    color:#FFF;
    font-size:16px;
}
    .nav-list .select{
        display: none;
        height: 0;
        width:0;
        border:11px solid transparent;
        border-right:11px solid #FFF;
        border-left:none;
        float:right;
        margin-top:7px;
    }
    .nav-list li{
        padding-left:30px;
        height:35px;
    }
    .nav-list li:hover,.nav-list li.focus{
        background-color:#1d2127;
    }
    .nav-list li:hover .select,.nav-list li.focus .select{
        display: block;
    }

.user-info{
    padding-left: 30px;
    color:#FFF;
    background-color:#16191e;
}
    .user-info-title{
        height:30px;
        line-height: 30px;
        font-size: 16px;
        color:#FFF;
        cursor: pointer;
    }
    .user-info .sign{
        float:right;
        margin-right:10px;
        margin-top:11px;
        height:0;
        width:0;
        border:8px solid transparent;
    }
    .user-info .sign-up{
        border-top:none;
        border-bottom:8px solid #FFF;
    }
    .user-info .sign-down{
        border-bottom:none;
        border-top:8px solid #FFF;
    }
    .user-info ul{padding:5px 0 5px 15px;}

.box-border{
    border:1px solid #AAA;
    min-height: 30px;
    line-height: 30px;
    margin:5px;
}
    .update-progress{
        height:30px;
        background-color:#54d4e6;
        width:20%;
    }
    .update-time{
        height:30px;
        margin-top: -30px;
    }
.money-type div{
    display: inline-block;
    width:50%;
    cursor: pointer;
}
    .money-type div:hover,.money-type div.focus{
        background-color:#54d4e6;
    }
.last-more{
    width:100px;
}


table{
    width:100%;
}
    table thead{background-color:#CCC;}
    table tbody tr:nth-child(odd){
        background-color:#FFF;
    }

#last-truse-list{
    position: absolute;
    top:40px;
    right:0;
    width:350px;
    max-height:560px;
    background-color:#EEE;
}
#last-truse-list .table-wrap{max-height: 510px;overflow: auto}

#btc-edit{
    margin:5px;
    padding:5px;
    background-color:#EEE;
}
#btc-edit .btc-edit-type{
    height:30px;
    line-height: 30px;
}
    .btc-edit-type li{
        display: inline-block;
        width:150px;
        border:1px solid #CCC;
        border-bottom:none;
    }
#btc-edit .buy-btc{
    background-color:#CCC;
    padding:10px;
}
#btc-edit .buy-btc-info p{
    height: 30px;
    line-height: 30px;
    display: inline-block;
    width:30%;
}
.edit-form{
    margin-top:10px;
    margin-bottom: 30px;
    font-size: 16px;
}
.edit-form .row{
    margin:10px 0;
    height: 40px;
    line-height: 40px;
}
    .edit-form .row .label{
        text-align: right;
        margin-right: 2%;
        height: 40px;
        float:left;
        width:18%;
    }
    .edit-form .row .input{
        height: 40px;
        float:left;
        width:75%;
    }
#btc-edit .submit{
        border:none;
        background:none;
        width:180px;
        height:60px;
        background-color:#45c8db;
        line-height: 60px;
        color:#FFF;
        font-size: 30px;
        font-weight: bold;
        cursor: pointer;
    }
#btc-edit .submit:hover{background-color:#3eb5c6;}

.form-input{
    background:none;
    width:120px;
    height:30px;
    font-size: 16px;
    padding:0 5px;
    margin-right:5px;
    border:none;
    background-color:#FFF;
}
.form-input:focus{
    outline:2px solid #3eb5c6;
}